<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Vars.wxi ?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Codepage="utf-8"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="$(var.RTMProductVersion)"
                      IncludeMinimum="yes"
                      OnlyDetect="no"
                      Language="1033"
                      Maximum="$(var.ProductVersion)"
                      Property="UPGRADEFOUND"/>
    </Upgrade>
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"/>

    <Media Id="1" Cabinet="$(var.SkuName).cab" EmbedCab="yes" />
    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.RTF" />

    <Feature Id="UPSShareMaster"
             Title="UPS Share Master Service" Level="1">
      <ComponentGroupRef Id="UPSShare.Master" />
    </Feature>
    <Feature Id="UPSShareSlave"
             Title="UPS Share Slave Service" Level="2">
      <ComponentGroupRef Id="UPSShare.Slave" />
    </Feature>
    <UIRef Id="UPSShare.UI.Mondo" />
  </Product>
</Wix>
