<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Vars.wxi ?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Codepage="utf-8"
           Language="1033"
           Version="$(fun.AutoVersion(1.0))"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"/>

    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="UPSShareMaster"
             Title="UPS Share Master Service" Level="1">
      <ComponentGroupRef Id="UPSShare.Master" />
    </Feature>
    <Feature Id="UPSShareSlave"
             Title="UPS Share Slave Service" Level="1">
      <ComponentGroupRef Id="UPSShare.Slave" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.Manufacturer)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="UPSShare.Master" Directory="INSTALLFOLDER">
      <Component Id="UPSShare.Master.Service">
        <File Id="UPSShareMasterExe" Name="UPSShare.Master.exe" Source="$(var.UPSShare.Master.TargetPath)" KeyPath="yes" Vital="yes" DiskId="1" />
        <File Id="UPSShareMasterConfig" Name="UPSShare.Master.exe.config" Source="$(var.UPSShare.Master.TargetDir)$(var.UPSShare.Master.TargetFileName).config" KeyPath="no" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="UPSShare.Slave" Directory="INSTALLFOLDER">
      <Component Id="UPSShare.Slave.Service">
        <File Id="UPSShareSlaveExe" Name="UPSShare.Slave.exe" Source="$(var.UPSShare.Slave.TargetPath)" KeyPath="yes" Vital="yes" DiskId="1" />
        <File Id="UPSShareSlaveConfig" Name="UPSShare.Slave.exe.config" Source="$(var.UPSShare.Slave.TargetDir)$(var.UPSShare.Slave.TargetFileName).config" KeyPath="no" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
