<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Vars.wxi ?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Codepage="utf-8"
           Language="1033"
           Version="$(fun.AutoVersion(1.0))"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"/>

    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="UPSShareMaster"
             Title="UPS Share Master Service" Level="1">
      <ComponentGroupRef Id="UPSShare.Master" />
    </Feature>
    <Feature Id="UPSShareSlave"
             Title="UPS Share Slave Service" Level="1">
      <ComponentGroupRef Id="UPSShare.Slave" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.Manufacturer)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="UPSShare.Master" Directory="INSTALLFOLDER">
      <Component Id="UPSShare.Master.Service" Guid="{35C0556C-A1A4-4DBC-934F-8C6C7A4B059A}">
        <File Id="CommandLinedll"       Name="CommandLine.dll"            Source="$(var.UPSShare.Master.TargetDir)CommandLine.dll"      KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="log4netdll"           Name="log4net.dll"                Source="$(var.UPSShare.Master.TargetDir)log4net.dll"          KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="MicrosoftOwindll"     Name="Microsoft.Owin.dll"         Source="$(var.UPSShare.Master.TargetDir)Microsoft.Owin.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="MicrosoftOwinHostHttpListenerdll" Name="Microsoft.Owin.Host.HttpListener.dll" Source="$(var.UPSShare.Master.TargetDir)Microsoft.Owin.Host.HttpListener.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="MicrosoftOwinHostingdll" Name="Microsoft.Owin.Hosting.dll" Source="$(var.UPSShare.Master.TargetDir)Microsoft.Owin.Hosting.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="NewtonsoftJsondll"    Name="Newtonsoft.Json.dll"        Source="$(var.UPSShare.Master.TargetDir)Newtonsoft.Json.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="Owindll"              Name="Owin.dll"                   Source="$(var.UPSShare.Master.TargetDir)Owin.dll"           KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="SystemNetHttpFormattingdll" Name="System.Net.Http.Formatting.dll" Source="$(var.UPSShare.Master.TargetDir)System.Net.Http.Formatting.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="SystemWebHttpdll"     Name="System.Web.Http.dll"        Source="$(var.UPSShare.Master.TargetDir)System.Web.Http.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="SystemWebHttpOwindll" Name="System.Web.Http.Owin.dll"   Source="$(var.UPSShare.Master.TargetDir)System.Web.Http.Owin.dll" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="UPSShareMasterExe"    Name="UPSShare.Master.exe"        Source="$(var.UPSShare.Master.TargetPath)"                    KeyPath="yes" Vital="yes" DiskId="1" />
        <File Id="UPSShareMasterConfig" Name="UPSShare.Master.exe.config" Source="$(var.UPSShare.Master.TargetDir)$(var.UPSShare.Master.TargetFileName).config" KeyPath="no" Vital="yes" DiskId="1" />
        <File Id="log4netConfig"        Name="log4net.config"             Source="$(var.UPSShare.Master.TargetDir)log4net.config"       KeyPath="no" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="UPSShare.Slave" Directory="INSTALLFOLDER">
      <Component Id="UPSShare.Slave.Service" Guid="{BDF1BD4F-5DE0-44E8-B099-65E871AA8144}">
        <File Id="UPSShareSlaveExe"     Name="UPSShare.Slave.exe"         Source="$(var.UPSShare.Slave.TargetPath)"   KeyPath="yes" Vital="yes" DiskId="1" />
        <File Id="UPSShareSlaveConfig"  Name="UPSShare.Slave.exe.config"  Source="$(var.UPSShare.Slave.TargetDir)$(var.UPSShare.Slave.TargetFileName).config" KeyPath="no" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
