<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="UPSShare.Slave" Directory="INSTALLFOLDER">
      <Component Id="UPSShare.Slave.Service" Guid="{BDF1BD4F-5DE0-44E8-B099-65E871AA8144}">
        <File Id="UPSShareSlaveExe"     Name="UPSShare.Slave.exe"         Source="$(var.UPSShare.Slave.TargetPath)"   KeyPath="yes" Vital="yes" DiskId="1" />
        <File Id="UPSShareSlaveConfig"  Name="UPSShare.Slave.exe.config"  Source="$(var.UPSShare.Slave.TargetDir)$(var.UPSShare.Slave.TargetFileName).config" KeyPath="no" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
